<!DOCTYPE html>
<html ng-app="musicApp">
  <head>
    <meta charset="utf-8">
    <title> Music Venues App</title>

    <!--CSS -->
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/foundation/6.2.1/foundation.min.css">
    <!--Script Files  -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
    <script src="scripts/app.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQZl4R2I9_bFIlDdGQIwNyVnAYRlUzDm0&libraries=places&callback=initAutocomplete" async defer></script>


    </head>
    <body>
      <div class="parallax-background">

        <div class="intro-text">
          <p>Music Venues App</p>
          <p><i class="fi-arrow-down"></i></p>
        </div>
      </div>


  <!-- form to create venues -->
    <div class="parallax-content">
      <p id= "map-instructions"> Look up local music venues through Google Places and create a comprehensive directory for your friends!</p>

      <input id="pac-input" class="controls" type="text" placeholder="Search Box">
      <div id="map"></div>
      <div class="parallax-content">
        <div class="row">
          <h2> Venues </h2>

          <div id="venues">



        </div>
      </div>
    </div>

  </body>
</html>
